.App {
  font-family: sans-serif;
  text-align: center;
}

.mousefollowing {
  display: flex;
  justify-content: center;
  padding: 5vmax;
}

table {
  margin: auto;
}
table,
td {
  border-collapse: collapse;
  border: 1px solid currentColor;
}
